<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Taschenrechner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-item class="ion-text-end">
            <ion-label class="value">
                {{value}}
            </ion-label>
        </ion-item>
        <div *ngFor="let numG of numberGroups">
            <ion-button *ngFor="let num of numG" (click)="onButtonPress(num)" class="clacButton">{{num}}</ion-button>
        </div>
    </div>
</ion-content>