.value {
    text-align: right;
    font-size: 32px;
}

.clacButton {
    width: 20%;
    height: 64px;
    font-size: 32px;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}